name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install -r task1-dockerize/requirements.txt

    - name: Syntax check
      run: |
        python -m py_compile task1-dockerize/app.py

    - name: Build Docker image
      run: |
        docker build -t test-image ./task1-dockerize
